* {
    font-family: Helvetica;
}

header {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*9so8i5*_gcl_au*MTQ4Mjc2NjM5LjE3MzA5Njk4OTU.*_ga*ODU0MjYyMTM0OC4xNzMwOTY5ODk4*_ga_3LRZM6TM9L*MTczMzQxNjcwNC4xMDAuMS4xNzMzNDE3MDc4LjAuMC4w");
    margin: 10px 0;
}

h1 {
    text-align: center;
    color: #F0E68C;
    font-size: 100px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

h3 {
    font-size: 21px;
}

p {
    font-size: 16px;
}

strong {
    color: blue;
}

#h2brushes {
    background-color:#00FA9A;
}

#h2frames {
    background-color: #F08080;
}

#h2paint {
    background-color:#87CEEB;
}
